@import "../fonts/Philosofer/philosopher.css";
.map {
    width: 100%;
    height: 600px;
}
.conteiner_proz_2{
    background: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    right: 0;
    display: none;

}
.breadcrumb_text{
    font-family: 'Philosopher';
    font-size: 14px;
    list-style-type: none;
    color: #8a8781;
    padding: 0;
    display: inline-block;
}

a.text{
    font-family: 'Philosopher';
    color: #8a8781;
    font-size: 14px;
    padding: 0;
}
h1.heading_title {
    font-family: 'Philosopher';
    font-size: 36px;
    color: #0b0b0b;
    margin-bottom: 3%;
}
strong.text{
    font-family: 'Philosopher';
    font-size: 18px ;
    color: #0b0b0b;
}
p.telephone, p.address, p.config_email, p.open{
    font-family: 'Philosopher';
    font-size: 18px;
    color: #0b0b0b;
}
h1.vopros{
    font-family: 'Philosopher';
    font-size: 36px;
    font-weight: 700;
    color: #322d2d;
    margin-left: 15px;
    margin-bottom: 25px;
}

input.form-control_style {
    font-family: 'Philosopher';
    display: block;
    width: 85%;
    height: 50px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #322d2d;
    border: 1px solid #322d2d;
}
h1.text_comment{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 18px;
    color: #0b0b0b;
    font-style: italic;
}
.btn_otpravutu {
    font-family: 'Philosopher';
    color: #f5f5f5;
    padding: 7.5px 12px;
    font-size: 20px;
    border: 1px solid #322d2d;
    border-radius: 25px;
    width: 290px;
    height: 50px;
    background: #322d2d;
    margin-left: 15px;
}
.strilka{
    position: absolute;
    margin: 7px 0 0 58px;

}
.form-control_style{
    width: 85%;
    height: 150px;
    resize: none;
    border: 1px solid #322d2d;
    font-family: 'Philosopher';
    padding: 6px 12px;
    font-size: 20px;
}
.input-sort_KP{
    border: hidden;
    -webkit-appearance: none;
    padding-right: 10px;
    background: url('../image/strilka_vnuz.png') right center no-repeat;
    outline: none;
!important;
}
.korzuna_style{
    !important;
    background: url('../image/korzuna.png') right center no-repeat;
    width: 25px;
    height: 30px;
    border: none;
}
.label_text_sort{
    font-family: 'Philosopher';
    font-size: 14px;
}
a.pull-right_KP{
    font-family: 'Philosopher';
    font-size: 16px;
    font-weight: 900;
    color: #322d2d;
    margin: 0px 0 0 0;
    line-height: 18px;
}
.h2_KP{
    font-family: 'Philosopher';
    font-size: 45px;
    font-weight: 900;
    margin: 1px 0 -25px 0;
}
.h3_KP{
    font-family: 'Philosopher';
    font-size: 36px;
    font-weight: 900;
}
.h1_KP{
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    margin: -41px 0 0px 263px;
}
.text-bottom{
    font-family: 'Philosopher';
    font-size: 14px;
}

.text_pid-kartunkov{
    font-family: 'Philosopher';
    font-size: 14px;
}

.conteiner_proz{
    background: rgba(0,0,0,0.45);
    padding: 20px;
    width: 75%;
    min-height: 270px;
    margin: -296px 0 0 13%;
    position: relative;
}
.korzuna_style-2{
    background: url(../image/korzuna_2.png) right center no-repeat;
    width: 64px;
    height: 72px;
    margin: 27px 0 0 47%;
    border: none;
}
a.pull-right_KP_2{
    font-family: 'Philosopher';
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
}
a.pull-right_KP_2-1{
    border-bottom: 1px solid #ffffff;
    width: 100px;
    margin-left: 42%;
    padding-top: 15px;
}
.text_style_1{
    font-family: 'Philosopher';
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}
.text_style_2{
    font-family: 'Philosopher';
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}
img.image_responsive{
    width: 75%;!important;
    margin-left: 13%;!important;
}
.h2_KP_2{
    font-family: 'Philosopher';
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin-top: 10%;
    margin-bottom: -3%;
}
.h3_KP_2{
    font-family: 'Philosopher';
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.h1_KP_2{
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.nomer_border{
    border-bottom: 3px solid #6e6a6e;
    margin: -2% 18% 0% 18%;
}
.Catalog{
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: bold;
    color: #585858;
}
.category-style_KP{
    font-family: 'Philosopher';
    font-size: 30px;
    font-weight: 300;
    color: #585858;
    list-style-type: none;
    text-align: center;
}
.category-child-style_KP{
    font-family: 'Philosopher';
    font-size: 30px;
    font-weight: 300;
    color: #848484;
    list-style-type: none;
    text-align: center;
}
.ribbon{
    font-family: 'Philosopher';
    font-size: 14px;
    font-weight: 900;
    color: #322d2d;
    margin: 0;
}
div.KP_25:hover .pull-right_KP{
    display: block !important;
}
div.KP_25:hover .korzuna_style{
    display: block !important;
}
div.KP_25:hover {
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
div.KP_25_mod:hover .pull-right_KP{
    display: block !important;
}
div.KP_25_mod:hover .korzuna_style{
    display: block !important;
}
div.KP_25_mod:hover {
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

    /*golovna*/
.korzuna_style-3 {
    background: url(../image/Korzuna_golovna.png) right center no-repeat;
    width: 64px;
    height: 72px;
    margin: -15px 0 0 25%;
    border: none;
    text-align: center;
    cursor: pointer;
}
a.pull-right_KP_3 {
    font-family: 'Philosopher';
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}
.text_style_1_3 {
    font-family: 'Philosopher';
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
}
.text_style_price{
    font-family: 'Philosopher';
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}
a.pull-right_KP_2-3{
    border-bottom: 1px solid #ffffff;
    width: 100px;
    margin-left: 20%;
    padding-top: 15px;
    margin-bottom: 7%;
}
.conteiner_text_KP{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -99px;
    margin-left: -89px;
}
.conteiner_proz_2{
    background: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    right: 0;
    display: none;

}
.conteiner_proz_3{
    background: rgba(0,0,0,0.45);
    padding: 20px;
    width: 75%;
    position: absolute;
    left: 13%;
    bottom: -55px;

}
ul.ul_centr{
    margin-left: 36%;
}
/**/
.a-category-style{
    font-family: 'Philosopher';
    font-size: 14px;
    color: #585858;
}
a.a_text_KP{
    font-family: 'Philosopher';
    font-size: 14px;
    color: #fff;
    margin-left: 14px;

}
a.a-category-child-style{
    font-family: 'Philosopher';
    font-size: 14px;
    color: #585858;
    margin-left: 14px;

}
.category-icon-style{
    width: 10px;
    height: 10px;
    background: url("../image/Znak-min.png")center no-repeat;
    display: inline-block;
}
.category-icon-style_1{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url("../image/Znak-+.png")center no-repeat;
}
@media (min-width: 320px)and (max-width: 599px) {

}
@media (min-width: 600px)and (max-width: 767px){
    .map {
        width: 100%;
        height: 600px;
    }
    .email_adminy{
        margin-left: 50px;
    }
    input.form-control_style {
        font-family: 'Philosopher';
        display: block;
        width: 100%;
        height: 50px;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.42857143;
        color: #322d2d;
        border: 1px solid #322d2d;
    }
    .form-control_style{
        width: 100%;
        height: 150px;
        resize: none;
        border: 1px solid #322d2d;
        font-family: 'Philosopher';
        padding: 6px 12px;
        font-size: 20px;
    }
    h1.heading_title {
        font-family: 'Philosopher';
        font-size: 36px;
        color: #585858;
        text-align: center;
        margin-bottom: 50px;
        border-bottom: 3px solid#e0deda;
        padding-bottom: 20px;
    }
    h1.text_comment {
        font-family: 'Philosopher';
        font-weight: 700;
        font-size: 24px;
        color: #0b0b0b;
        font-style: italic;
    }  .product-thumb_style .caption_style {
        padding: 0 20px;
        min-height: 0;
    }
    .text_katalog{
        font-family: 'Philosopher';
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
    }
    .text_pid-kartunkov{
        font-family: 'Philosopher';
        font-size: 20px;
        color: #888888;

    }
    .nav-tabs>li.active>a.text_tabs{
        font-family: 'Philosopher';
        border-bottom: 2px solid #000000;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 5px;
        padding: 11px 0 0 0;

    }
    li>a.text_tabs{
        font-family: 'Philosopher';
        font-size: 22px;
        letter-spacing: 5px;

    }
    ul.ul_centr{
        margin: 6%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .breadcrumb_product{
        padding-left: 21%;
        margin-top: 22px;
    }
    .breadcrumb_contact{
        padding-left: 33%;
        margin-top: 22px;
    }
    .map {
        width: 50%;
        height: 600px;
    }
    .label_text_sort{
        font-family: 'Philosopher';
        font-size: 14px;
        margin: 0;
    }
    .h2_KP {
        font-family: 'Philosopher';
        font-size: 35px;
        font-weight: 900;
        margin: 1px 0 -25px 0;
    }
    .h3_KP {
        font-family: 'Philosopher';
        font-size: 28px;
        font-weight: 900;
    }
    .h1_KP {
        font-family: 'Philosopher';
        font-size: 27px;
        font-weight: bold;
        position: absolute;
        margin: -34px 0 0px 200px;
    }
    .text_na_kartuni {
        position: absolute;
        margin: 131px 0% 0% 33%;
        width: 56%;
    }
    .imga_catalog{
        width: 230px;
        height: 300px;
        display: block;
    }
    .KP_25{
        min-height: 375px !important;
        max-width: 230px !important;
        margin-right: 30px !important;
    }
    .product-layout_modul{
        min-height: 375px !important;
        max-width: 230px !important;
        margin-right: 0px !important;
    }
    div.KP_25:nth-child(2n){
        margin: 10px 0 0 0 !important;
    }
    .KP_20{
        width: 230px !important;
        padding: 0 !important;
        margin: 0 14px 0 0 !important;
        float: left;
    }
    .KP_25{
        min-height: 375px !important;
        width: 230px !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }

    .KP_80{
        width: 66% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_25_mod{
        min-height: 375px !important;
        width: 230 !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }
    .text_mod_h3{
        margin-left: 1%!important;
        text-align: left!important;
    }
    .imga_catalog_mod{
        width: 230px;
        height: 300px;
        display: block;
    }
    .KP_25_mod{
        min-height: 375px !important;
        width: 230px !important;
        padding: 0 !important;
        margin: 10px 12px 0 0 !important;
        float: left;
    }
    .text_mod_h3{
        margin-left: 1%;
    }
    .imga_catalog_mod{
        width: 230px;
        height: 300px;
        display: block;
    }
    .breadcrumb_contact{
        padding-left: 34%;
    }
    div.KP_25_mod:nth-child(3n){
        margin: 10px 0 0 0 !important;
    }
    div.KP_25_mod:nth-child(4n){
       display: none!important;
    }
    div.KP_25_mod:nth-child(5n){
       display: none!important;
    }
    .KP_80{
        width: 65.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_40{
        width: 42.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 35.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }

    .KP_80_2{
        width: 79.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_40{
        width: 42.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 35.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP_20_2{
        width: 20% !important;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
        float: left;
    }
    .KP_40{
        width: 80% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 80% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
}


@media (min-width: 992px) and (max-width: 1199px){
    .breadcrumb_contact{
        padding-left: 25%;
        margin-top: 22px;
    }
    .map {
        width: 50%;
        height: 600px;
    }
    .h1_KP {
        font-family: 'Philosopher';
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        margin: -36px 0 0px 262px;
    }
    .text_na_kartuni{
        position: absolute;
        margin: 120px 0% 0% 35%;
        width: 56%;
    }
    a.imga_catalog{
        width: 224px;
        height: 300px;
        display: block;
    }
    .button-group_KP{
        margin-top: -6px!important;
        margin-left: -16px!important;
    }
    .product-layout_modul{
        min-height: 375px !important;
        max-width: 220px !important;
        margin-right: 0px !important;
    }
    div.KP_25:nth-child(3n){
        margin: 10px 0 0 0 !important;
    }
    .KP_20{
        width: 224px !important;
        padding: 0 !important;
        margin: 0 14px 0 0 !important;
        float: left;

    }
    .KP_25{
        min-height: 375px !important;
        width: 224px !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }

    .KP_80{
        width: 74.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_25_mod{
        min-height: 375px !important;
        width: 25% !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }
    .text_mod_h3{
        margin-left: 1%;
    }
    div.KP_25_mod:nth-child(5n){
       display: none;
    }
    div.KP_25_mod:nth-child(4n){
       margin-right: 0!important;
    }
    .imga_catalog_mod{
        width: 226px;
        height: 300px;
        display: block;
    }
    .KP_25_mod{
        min-height: 375px !important;
        width: 224px !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }
    .text_mod_h3{
        margin-left: 1%;
    }
    .imga_catalog_mod{
        width: 224px;
        height: 300px;
        display: block;
    }
    .KP_25{
        min-height: 375px !important;
        width: 223px !important;
        padding: 0 !important;
        margin: 10px 14px 0 0 !important;
        float: left;
    }

    .KP_80_2{
        width: 79.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_40{
        width: 42.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 35.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP_20_2{
        width: 20% !important;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
        float: left;
    }

    .KP_40{
        width: 42% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 35.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }


}
@media (min-width: 1200px) {
    .breadcrumb_product{
        padding-left: 21%;
        margin-top: 22px;
    }
    .breadcrumb_contact{
        padding-left: 20%;
        margin-top: 22px;
    }
    .map {
        width: 600px;
        height: 600px;
    }
    .h1_KP{
        font-family: 'Philosopher';
        font-size: 48px;
        font-weight: bold;
        position: absolute;
        margin: -41px 0 0px 262px;
    }
    .text_na_kartuni{
        position: absolute;
        margin: 120px 0% 0% 37%;
        width: 56%;
    }
    .imga_catalog{
        width: 209px;
        height: 300px;
        display: block;
    }
    .product-layout_modul{
        min-height: 375px !important;
        max-width: 220px !important;
        margin-right: 0px !important;
    }
    div.KP_25:nth-child(4n){
        margin: 10px 0 0 0 !important;
    }
    .KP_20{
        width: 219px !important;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
        float: left;
    }
    .KP_25{
        min-height: 375px !important;
        width: 219px !important;
        padding: 0 !important;
        margin: 10px 10px 0 0 !important;
        float: left;
    }

    .KP{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .KP_25_mod{
        min-height: 375px !important;
        width: 219px !important;
        padding: 0 !important;
        margin: 10px 10px 0 0 !important;
        float: left;
    }
    .text_mod_h3{
        margin-left: 1%;
    }
    .imga_catalog_mod{
        width: 209px;
        height: 300px;
        display: block;
    }
    div.KP_25_mod:nth-child(5n){
        margin: 10px 0 0 0 !important;
    }
    .KP_20_2{
        width: 20% !important;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
        float: left;
    }
    .KP_80{
        width: 79.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }

    .KP_80_2{
        width: 79.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }
    .KP_40{
        width: 42.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: right;
    }
    .KP_40_2{
        width: 35.5% !important;
        padding: 0 !important;
        margin: 0 !important;
        float: left;
    }

}

