.title_adas_o_galer{
    font-family:'Philosopher';
    font-size: 38px;
    color: #322d2d;
}
.breadcrumb_text_2{
    font-family: 'Philosopher';
    font-size: 17px;
    list-style-type: none;
    color: #8a8781;
    padding: 0;
    display: inline-block;
    margin: 0 1% 0 0;
}
.title_adas_o_galer_2{
    font-family:'Philosopher';
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    color: #322d2d;
}
.adas_text_o_nac{
    font-family:'Philosopher';
    font-size: 17px;
    color: #322d2d;
}
.adas_text_o_nac_nuz{
    font-family:'Philosopher';
    font-size: 18px;
    color: #6d6b6b;
}
.text_faktury_frecku{
    font-family:'Philosopher';
    font-size: 22px;
    color: #322d2d;
    font-weight: 600;
}
.text_faktury_gold{
    font-family:'Philosopher';
    font-size: 22px;
    color: #322d2d;
    font-weight: 600;
}
.text_faktury_gold_2{
    font-family:'Philosopher';
    font-size: 20x;
    color: #322d2d;
    font-weight: 600;
}
.text_factura_bold{
    font-family:'Philosopher';
    font-size: 18px;
    color: #322d2d;
    font-weight: 600;
}
.adas_img{
    height: 400px;
    width: 19.6%;
    float:left;
    margin-right: 0.5%;
    margin-top: 6px;
}
.adas_img_mar{
    height: 400px;
    width: 100%;
    float: left;
    /* margin-top: 6px; */
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}


.home_adas_text{
    font-family: 'Philosopher' !important;
    display: inline-block !important;
    font-size: 18px !important;
    color: #6e6565 !important;
    margin-top: 50px;
    margin-bottom: 5%;!important;
}
.tovar_adas_text{
    font-family: 'Philosopher' !important;
    font-size: 18px !important;
    color: #6e6565 !important;
    margin: 1px;
}
.adas_new_text{
    text-align: center;
}
.p_text_adas_3{
    margin: 0 0 0 40px;

}
.nav-tabs{
    border-bottom:none!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #000;
    font-family: 'Philosopher';
    font-size: 18px;
    cursor: default;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-bottom: 3px solid;
}
.nav-tabs>li>a:hover {
    border-color: none ;
}
.a_adas_sul{
    font-family: 'Philosopher';
    font-size: 18px;
    color: #585858;
    border: 1px solid #000000;
}

@media (max-width: 768px) and (min-width: 320px )   {
    .adas_img{
        height: 300px;
        width: 100%;
    }
    .a_kat_adas{
        font-family:'Philosopher';
        font-size: 14px;
        font-weight: 600;
        color: #ffde00;
        margin: 0 0 0 15%;
        background: url("/../catalog/view/theme/default/image/Forma-1-copy.png")right no-repeat;
        padding: 0 15% 0 0;
        text-decoration: underline;
    }
    .p_text_adas{
        margin: 0 5px 0 0;
        font-size: 15px;
    }
    .p_text_adas_3{
        margin: 0 0 0 5px;
        font-size: 15px;
    }
    .p_text_adas_2{
        font-size: 15px;
    }
}
.last_h3_text{
    font-family: 'Philosopher';
    font-size: 25px;
    font-weight: 600;
}
.panel_h4_text{
    font-family: 'Philosopher';
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 0 250px;
}
.mar_left_cont{
    margin: 0 -8.7px 0 -16px;
}
.last_img {
    width: 15.2%!important;
    float: left!important;
    margin: 0 -6.6% 0 7%!important;
}
.product-thumb .caption {
    padding: 0px 20px!important;
    min-height: 65px!important;
}
@media (max-width: 1199px) and (min-width: 992px) {
    #content .col-md-2:nth-child(6n+1), #content .col-md-2:nth-child(6n+1), #content .col-md-3:nth-child(4n+1), #content .col-md-4:nth-child(3n+1), #content .col-md-6:nth-child(2n+1) {
        clear: none !important;
    }
}
@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1) {
        clear: none !important;
    }
}
@media (min-width: 1200px) {
    .last_h3_text {
        font-family: 'Philosopher';
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 0 80px;
    }
    .last_img{
        width: 16.9%;
        float: left;
        margin: 0px -6.6% 0px 7%;
    }
}
@media (min-width: 992px) {

    .last_h3_text {
        font-family: 'Philosopher';
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 0 -20px;
    }

    .mar_left_cont {
        margin: 0 -8.7px 0 -16px !important;
    }

    .last_img {
        width: 21.7% !important;
        float: left !important;
        margin: 0 10.3px 0 -6px !important;
    }
}
@media (min-width: 749px) and (max-width: 991px) {
    .mar_left_cont {
        margin: 0 -5.7px 0 -20px!important;
    }
    .last_img {
        width: 20%!important;
        float: left!important;
        margin: 0 13px 0 -10px!important;
    }
    .last_h3_text {
        font-family: 'Philosopher';
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 0 -16px;

    }
}
.product-thumb {
    border: none!important;
    margin-bottom: 20px!important;
    overflow: auto!important;
}
@media (min-width: 320px) and (max-width: 768px) {
    .mar_left_cont {
        margin: 0 -32px 0px 7px !important;
    }

    .last_img_4 {
        width: 43%!important;
        float: left !important;
        margin: 0 -32.5px 0 36.9px !important;
        padding: 0;
    }

    .panel_h4_text {
        font-family: 'Philosopher';
        font-size: 25px !important;
        font-weight: 600 !important;
        text-align: center !important;
    }

    .last_h3_text {
        font-family: 'Philosopher';
        font-size: 25px !important;
        font-weight: 600 !important;
        text-align: center !important;
    }
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 105px;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .3;
}
.add{
    width: 25.8%;
    height: 400px;
    float: left;
    background: #1e90ff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    position: relative;
    margin-top:6px;
}
.add1{
    margin: 6px 0 0 18.55%;
    position: absolute;
    width: 25.8%;
    height: 400px;
    float: left;
    background: #1e90ff;
    -webkit-clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
}
.add2{
    margin: 6px 0 0 37.1%;
    position: absolute;
    width: 25.8%;
    height: 400px;
    float: left;
    background: #1e90ff;
    -webkit-clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
}
.add3{
    margin: 6px 0 0 55.65%;
    position: absolute;
    width: 25.8%;
    height: 400px;
    float: left;
    background: #1e90ff;
    -webkit-clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
}
.add4{
    margin: 6px 0 0 74.2%;
    position: absolute;
    width: 25.8%;
    height: 400px;
    float: left;
    background: #1e90ff;
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
.dad{
    min-height: 400px!important;
}

.text_kat_name {
    font-family: 'Philosopher';
    font-size: 20px;
    color: #fff!important;
    font-weight: 600;
    text-align: left;
    width: 60%;
    position: absolute;
    bottom: 40px;
    left: 20%;
}
.adas_img_mar h1{
    color: white;
    font-size: 25px;
}

.a_kat_adas{
    font-family: 'Philosopher';
    font-size: 17px;
    font-weight: 600;
    color: #ffde00;
    background: url(/../catalog/view/theme/default/image/Forma-1-copy.png)right no-repeat;
    padding: 0 36px 0 0;
    text-decoration: underline;
}
.a_kat_adas:hover{
    color: #ffde00;
    text-decoration: none;
}
.a_kat_adast{
    font-family: 'Philosopher';
    font-size: 18px;
    font-weight: 600;
    color: #ffde00;
    background: url(/../catalog/view/theme/default/image/Forma-1-copy.png)right no-repeat;
    padding: 0 40px 0 0;
}
.a_kat_adast:hover{
    color: #ffde00;
    text-decoration: none;
}
.border_kat{
    padding-top: 20px;
}
.adas_img_sm{
    width: 100%;
    height: 300px;
    float: left;
    background-size: cover !important;
    position: relative;
    margin-top: 1px;
}
.adas_img_sm h1{
    color: white;
    font-size: 32px;
}
.text_box{
    font-family: 'Philosopher';
    font-size: 20px;
    color: #fff!important;
    font-weight: 600;
    text-align: left;
    width: 27%;
    position: absolute;
    bottom: 65px;
    left: 8%;
}
.text_box2{
    font-family: 'Philosopher';
    font-size: 20px;
    color: #fff!important;
    font-weight: 600;
    text-align: left;
    width: 40%;
    position: absolute;
    bottom: 70px;
    left: 45%;
}
.border_kat2 {
    border: 1px solid #ffde00;
    border-radius: 40px 40px;
    padding: 20px 10px;
    text-align: center;
}
.adas_img_mar2{
    height: 300px;
    width: 100%;
    float: left;
    /* margin-top: 6px; */
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
@media (max-width: 540px) {
    .adas_img_sm h1 {
        color: white;
        font-size: 24px;
    }
    .a_kat_adast{
        font-size: 13px;
        text-decoration: none;
    }
    .border_kat2 {
        padding: 9px 0px;
    }
    .text_box2{
        width: 49%;
        left: 48%;
    }
    .adas_img_sm2{
        width: 100%;
        height: 300px;
        float: left;
        background-size: auto!important;
        position: relative;
        margin-top: 1px;
    }
}
.img_car_shipping{
    position: absolute;
    left: 34%;
    top: 32px;
}
.img_car_payment{
    position: absolute;
    left: 34%;
    top: 22px;
}
.panel-default {
    border-top: none!important;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
    background-color: #FFF!important;
    border-radius: 0!important;
}
.shipping_bord{
    border-top: 2px solid#000!important;
    border-bottom: 2px solid#000!important;
    border-left: none!important;
    border-right: none!important;
    background-color: #FFF!important;
    box-shadow: none!important;
}
.shipping_bord2{
    border-top: none!important;
    border-bottom: 2px solid#000!important;
    border-left: none!important;
    border-right: none!important;
    background-color: #FFF!important;
    box-shadow: none!important;
}
.text_dost{
    font-family: 'Philosopher'!important;
    font-size: 15px!important;
    color: #494545!important;
    font-weight: 600;
}
.text_dost1{
    font-family: 'Philosopher'!important;
    font-size: 14px!important;
    color: #322d2d!important;
}
.text_dost2{
    font-family: 'Philosopher'!important;
    font-size: 26px!important;
    color: #000!important;
    font-weight: 600;
}
.border_button{
    font-family: 'Philosopher'!important;
    border-radius: 50px 50px!important;
    background: #322d2d!important;
    font-size: 19px!important;
    color: #f5f5f5!important;
}
.form_border_rad{
    font-family: 'Philosopher'!important;
    display: block;
    width: 100%;
    height: 45px!important;
    padding: 6px 17px!important;
    font-size: 14px!important;
    border: 1px solid #322d2d!important;
    border-radius: 0!important;
}
.form_border_rad1{
    font-family: 'Philosopher'!important;
    display: block;
    width: 100%;
    height: 110px!important;
    padding: 6px 17px!important;
    font-size: 14px!important;
    border: 1px solid #322d2d!important;
    border-radius: 0!important;
}
.padding_margin{
    padding: 0 14px 0 0;
    margin: 0 0 0 7px;
}
@media (max-width: 767px) {
    .padding_margin2{
        padding: 0 5px 0 0!important;
        margin: 0 0 0 2px!important;
    }
    .panel-title{
        padding: 0 0 20px 0!important;
    }
    .pai_met_act{
        padding: 8px 0 8px 0;
    }
    .pai_met_act{
        border: 2px solid #2d2a23!important;
        border-radius: 7px 7px!important;
        padding: 5px 8px!important;
    }
    .text_dost1{
        font-family: 'Philosopher'!important;
        font-size: 13px!important;
        color: #322d2d!important;
    }
    .text_dost3 {
        font-family: 'Philosopher' !important;
        font-size: 22px !important;
        color: #322d2d !important;
    }
    .ship_met_mar2{

    }
    .img_car_shipping2{
        position: absolute!important;
        left: 34%!important;
        top: 77px!important;
    }
    .pai_met_act4{
        background-color: #0b0b0b;
        border: 2px solid #2d2a23!important;
        border-radius: 7px 7px!important;
        padding: 5px 8px!important;
    }
    .text_dost4{
        font-family: 'Philosopher' !important;
        color: #fff !important;
        font-size: 13px!important;
    }

}

.mfi_hea_title{
    font-family: 'Philosopher' !important;
    font-weight: 600;
    cursor: pointer;
    background: none!important;
    font-size: 17px!important;
    border: none!important;
}
.mfi_opt_cont_border{
    border: none!important;
}
.mfi_tb_as_td_bord{
    font-family: 'Philosopher' !important;
    border: none!important;
    font-size: 15px!important;
    display: inline-block!important;
    border-radius: 5px 5px!important;
    padding: 0 7px 0px 7px!important;
}
.mfi_cont_box_bord{
    border: none!important;
    margin: -20px 0 0 0!important;
}
.mfi_tb_as_td_bord1{
    border: none!important;
    display: none!important;

}
.mfi_tb_as_td_bord1:checked + label{
    background: #322d2d;
    color: white!important;
}
.h3_box_hea_size{
    font-family: 'Philosopher' !important;
    background: #f0ebe2!important;
    font-size: 16px!important;
    padding: 12px 7px 12px 13px;
    text-transform: uppercase;
    color: #585858!important;
}
.mfi_opt_cont_mfi{
    padding: 17px 0px 22px 6px!important;
 }
.mfi_bord_bot_rig{
    border-bottom: 1px solid #cdc1aa;

}
.box_mfi1_bord_rig{
}
.mfi_heading_text_marg{
    margin: 16px 4px 0 -13px!important;
}
.bord_left_marg{
    border-right: 1px solid #cdc1aa!important;
}
.conteiner_text_KP{
    width: 179px !important;
}
.style_bord_rig4{
    border-right: 1px solid #cdc1aa;
}
@media (max-width: 767px) {
    .h3_box_hea_size {
        font-family: 'Philosopher' !important;
        background: #f0ebe2!important;
        font-size: 29px!important;
        padding: 17px 7px 17px 13px;
        text-transform: none;
        text-align: center;
    }
    .mfi_hea_title {
        font-family: 'Philosopher' !important;
        font-weight: normal;
        cursor: pointer;
        background: #f8f6f1!important;
        font-size: 27px!important;
        border: none!important;
        padding: 8px 0 2px 0!important;
    }

    .mfi_tb_as_td_bord {
        font-family: 'Philosopher' !important;
        border: none!important;
        font-size: 25px!important;
        display: none;
        border-radius: 0px 0px!important;
        padding: 0 7px 0px 7px!important;
        font-weight: normal;
    }
    .mfi_heading_text_marg {
        margin: 3px 0px 0 6px!important;
        color: #585858;
    }
    .style_bord_rig4{
        border-right: none!important;
    }
    .mfi_cont_box_bord ul li:nth-child(even) .mfi_hea_title{
        background: #f2eee8!important;
    }
    .mfi_bord_bot_rig {
        border-bottom: none;
    }
    .mfi_tb_as_td_bord1:checked + label{
        background: #585858;
        color: white!important;
    }
    .mfi_tg_td_bord{
        font-family: 'Philosopher' !important;
        border: none!important;
        font-size: 25px!important;
        display: block!important;
        padding: 12px 20px 12px 87px!important;
    }
    .mfi_opt_cont_mfi {
        padding:0!important;
    }
    .mfi_cont_box_bord {
        display: none;
    }
    .Catalog1{
        color: #585858!important;
        cursor: pointer!important;
        padding: 0 45px 0 0px;
    }
    a.Catalog1{
        background: url(../image/Mala-strilka.png)right center no-repeat;
        color: #585858!important;
    }
    .ghh2 {
        background: url(../image/Mala-strilka-vnuz.png)right center no-repeat!important;
        cursor: pointer!important;
        margin-bottom: 10px !important;
    }
    .mfilter-heading .mfi_opt_cont_mfi {
        margin-right: -7px!important;
        margin-top: -19px!important;
    }

}
@media (max-width: 600px) {
    .h3_box_hea_size{
        font-size: 23px!important;
    }
    .mfi_hea_title{
        font-size: 23px!important;
    }
    .mfi_tg_td_bord{
        font-size: 20px!important;
    }
    .catalog3{
        font-size: 36px!important;
    }
    .a-category-style_mob23{
        font-size: 24px!important;
    }
    a.a_text_KP_mob_20{
        font-size: 23px!important;
    }
    .style_mob20{
        font-size: 23px!important;
    }
    .pull-right_KP_20{
        font-size: 23px!important;
    }
    .text_style_20{
        font-size: 18px!important;
    }
    .korzuna_style-20{
        background: url(../image/korzuna_2.png) no-repeat!important;
        width: 58px!important;
        height: 64px!important;
        margin: 1px 0 0 36%!important;
        background-size: 70%!important;
    }
    .pull-right_KP_20-1{
        margin-left: 25%!important;
    }
    .pull-right_KP_20{
        font-size: 27px!important;
    }
    .text_style_20{
        font-size: 18px!important;
    }
    .text_style_2120{
        font-size: 18px!important;
    }
    .pull-right_KP_20-120{
        margin-left: 32%!important;
    }
    .korzuna_style-201{
        width: 64px!important;
        height: 40px!important;
        margin: -7px 0 0px 31%!important;
        border: none!important;
        background-size: 60%!important;
    }
    .text_tabs_20_text{
        font-size: 16px!important;
        letter-spacing: 0!important;
        margin: 0!important;
        padding: 10px 9px!important;
    }
    .ul_center_20_mar{
        margin-left: 7%!important;
    }
}
@media (max-width: 767px) and (min-width: 611px) {
    .text_tabs_20_text{
        font-size: 21px!important;
        letter-spacing: 3px!important;
    }
    .ul_center_20_mar{
        margin-left: 17%!important;
    }
}
@media (max-width: 610px) and (min-width: 600px) {
    .text_tabs_20_text{
        font-size: 23px!important;
        letter-spacing: 0!important;
        margin: 0!important;
        padding: 10px 9px!important;
    }
    .ul_center_20_mar{
        margin-left: 17%!important;
    }
}
@media (max-width: 450px) and (min-width: 400px) {
    .text_tabs_20_text{
        font-size: 17px!important;
    }
    .ul_center_20_mar{
        margin-left: 8%!important;
    }
}
@media (max-width: 500px) and (min-width: 450px) {
    .text_tabs_20_text{
        font-size: 19px!important;
    }
    .ul_center_20_mar{
        margin-left: 13%!important;
    }
}
@media (max-width: 550px) and (min-width: 501px) {
    .text_tabs_20_text{
        font-size: 20px!important;
    }
    .ul_center_20_mar{
        margin-left: 15%!important;
    }
}
@media (max-width: 600px) and (min-width: 551px) {
    .text_tabs_20_text{
        font-size: 20px!important;
    }
    .ul_center_20_mar{
        margin-left: 17%!important;
    }
}
@media (max-width: 380px) {
    .h3_box_hea_size{
        font-size: 18px!important;
    }
    .mfi_hea_title{
        font-size: 18px!important;
    }
    .mfi_tg_td_bord{
        font-size: 17px!important;
    }
    .catalog3{
        font-size: 30px!important;
    }
    .a-category-style_mob23{
        font-size: 19px!important;
    }
    a.a_text_KP_mob_20{
        font-size: 19px!important;
    }
    .style_mob20{
        font-size: 19px!important;
    }
    .pull-right_KP_20{
        font-size: 20px!important;
    }
    .text_style_20{
        font-size: 15px!important;
    }
    .korzuna_style-20{
        background: url(../image/korzuna_2.png) no-repeat!important;
        width: 58px!important;
        height: 64px!important;
        margin: 1px 0 0 36%!important;
        background-size: 70%!important;
    }
    .pull-right_KP_20-1{
        margin-left: 20%!important;
    }
    .text_style_2120{
        font-size: 18px!important;
    }
    .pull-right_KP_20-120{
        margin-left: 28%!important;
    }
    .korzuna_style-201{
        margin: -8px 0 0px 28%!important;
        border: none!important;
        background-size: 58%!important;
    }

    .text_style_20{
        font-size: 17px!important;
    }
    .text_style_2120{
        font-size: 17px!important;
    }
    .text_tabs_20_text{
        font-size: 14px!important;
        letter-spacing: 0!important;
        margin: 0!important;
        padding: 10px 7px!important;
    }

}
.middle-home-div-text20{
    padding-top: 7%;
    padding-bottom: 18%;
    text-align: center!important;
}
.bot_hover_20_stile:hover{
    border-color: #fff!important;
    text-decoration: none!important;
    background-color: #fff!important;
    color: #585858!important;
}