
.adas_text_o_nac{
    font-family:'Philosopher';
    font-size: 18px;
    color: #6d6b6b;
}
.adas_text_o_nac_nuz{
    font-family:'Philosopher';
    font-weight: 400;
    font-size: 18px;
    color: #6d6b6b;
}